<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        %forceCssStyle%
    </style>
    <link rel="stylesheet" type="text/css" href="css/creditsStyle.css">
    <meta charset="utf-8" />
    <title>OpenLauncher Credits</title>
</head>
<body>
    <div class="CommonInfoBox">
        Open Launcher %existingYears%<br />
        License: <a href="%licenseLink%">Read the license</a><br />
    </div>
    <div class="CreditsBox">
        <h1>Credits</h1>
        <h2>Programming by</h2>
        <ul>
            <li><a href="https://github.com/XanatosX">Simon Aberle</a></li>
        </ul>
        <h2>Used tools or libaries</h2>
        <ul>
            <li><a href="https://www.newtonsoft.com/json">Newtonsoft Json.Net</a></li>
        </ul>
    </div>
</body>
</html>